body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #949494;
  border: 1px solid #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 3% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #f03;
  text-align: center;
}

#lista {
  list-style: none;
  padding: 0;
}

#lista li {
  padding: 8px;
  border-bottom: 2px solid #ccc;
}

/*#lista li:last-child {
            border-bottom: none;
        }*/

input[type=text] {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 70%;
  margin-inline: 10px;
}

button {
  padding: 8px;
  background-color: #f03;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c00;
}

</style>